<ul>
    {% if user.is_authenticated %}
        "خوش آمدید {{user.username}}"
        <li style="margin-left: 20px;margin-right: 20px;"><a href="{% url 'profile'%}"> پروفایل </a></li>
        <li style="margin-left: 20px;margin-right: 20px;"><a href="{% url 'book_list'%}"> لیست کتاب ها </a></li>
        <li style="margin-left: 20px;margin-right: 20px;"><a href="{% url 'logout'%}"> خروج </a></li>
    {% else %}
        <li style="margin-left: 20px;margin-right: 20px;"><a href="{% url 'home'%}"> خانه </a></li>
        <li style="margin-left: 20px;margin-right: 20px;"><a href="{% url 'login'%}"> ورود </a></li>
        <li style="margin-left: 20px;margin-right: 20px;"><a href="{% url 'signup'%}"> ثبت نام </a></li>
    {% endif %}
</ul>